<form class="p-4 p-md-5 border rounded-3 bg-light"   hx-encoding="multipart/form-data"  style="color:black;" hx-post="/ui/game/add" hx-target="this" hx-swap="outerHTML">

    <div class="form-floating mb-3">
        <input type="text" name="name" class="form-control" id="name" placeholder="Name of Game"
               {#if f.name } value="{f.name}" {/if}
        >
        <label for="name">Game Name</label>
    </div>
    <div class="form-floating mb-3">
        <select type="text" name="rounds" class="form-select" id="rounds" placeholder="Number of Rounds">
            <option selected value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <label for="rounds">Rounds</label>
    </div>
    <div class="form-floating mb-3">
        <select type="text" name="categories" class="form-select" id="categories" placeholder="Categories per round">
            <option selected value="3">Three</option>
            <option value="4">Four</option>
            <option value="5">Five</option>
        </select>
        <label for="categories">Categories per Round</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" name="team1" class="form-control" id="team1" placeholder="Name of Team">
        <label for="team1">Name of Team 1</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" name="team2" class="form-control" id="team2" placeholder="Name of Team">
        <label for="team2">Name of Team 2</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" name="team3" class="form-control" id="team3" placeholder="Name of Team">
        <label for="team3">Name of Team 3</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" name="team4" class="form-control" id="team4" placeholder="Name of Team">
        <label for="team4">Name of Team 4</label>
    </div>

    <div>
        {#if e.containsKey("general") } {e.get("general")} {/if}
    </div>
    <div class="checkbox mb-3">
    </div>
    <button class="w-30 btn btn-lg btn-primary" type="submit">Register</button>

</form>