<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" >

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="%style{%d{yyyy-MM-dd' 'HH:mm:ss.SSS} %-5p [%C{3.}] (%t) }{magenta} %style{%m%n}{white}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>