{#include outline}
<div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-2">
                <div class="sun"></div>
            </div>
            <div class="col-md-8">
                <div class="headline">Are you ready for</div>
            </div>
            <div class="col-md-2">
                <div class="sun"></div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-2">
                <div class="sun"></div>
            </div>
            <div class="col-md-8">
                <div class="splash banner">Java</div>
            </div>
            <div class="col-md-2">
                <div class="sun"></div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-2">
                <div class="sun"></div>
            </div>
            <div class="col-md-8">
                <div id="banner" class="splash banner">JEP'dy</div>
            </div>
            <div class="col-md-2">
                <div class="sun"></div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-2">
                <a href="find" class="btn btn-lg btn-primary rounded-circle" >Games</a>

            </div>
            <div class="col-md-8">
                <div class="tagline"><a href="new" class="btn btn-lg btn-primary rounded-circle" >Start a game</a></div>

            </div>
            <div class="col-md-2">
                <a href="/ui/team/list" class="btn btn-lg btn-primary rounded-circle" >Teams</a>

            </div>
        </div>
    </div>


</div>


<script src="/js/main.js"></script>
{/include}