{#include outline}
<div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-2">
                <div class="sun"></div>
            </div>
            <div class="col-md-8">
                <div class="headline">Are you ready for</div>
            </div>
            <div class="col-md-2">
                <div class="sun"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="sun"></div>
            </div>
            <div class="col-md-8">
                <div class="splash banner">Java</div>
            </div>
            <div class="col-md-2">
                <div class="sun"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="sun"></div>
            </div>
            <div class="col-md-8">
                <div id="banner" class="splash banner">JEP'dy</div>
            </div>
            <div class="col-md-2">
                <div class="sun"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <a href="find" class="btn btn-lg btn-primary round" >Find a game</a>
            </div>
            <div class="col-md-8">
                <div class="tagline">Java clues for the Java developer</div>
            </div>
            <div class="col-md-2">
                <a href="new" class="btn btn-lg btn-primary round" >Start a game</a>
            </div>
        </div>
    </div>


</div>


<script src="/js/main.js"></script>
{/include}